<div style="padding: 2vh">
    <label>Number of Rows: </label><input #row type="text"><button (click)="setRowLimit(row.value)">Submit</button><label style="float: right;">Joshua Chang</label>
</div>

<table>
    <thead>
        <div>
            <tr class="head">
                <th style="width: 6vw">Name</th>
                <th style="width: 6vw">Phone</th>
                <th style="width: 23vw">Email</th>
                <th style="width: 10vw">Company</th>
                <th style="width: 4vw">Date Entry</th>
                <th style="width: 5vw">Organization Number</th>
                <th style="width: 7vw">Address</th>
                <th style="width: 6vw">City</th>
                <th style="width: 4vw">Zip Code</th>
                <th style="width: 7vw">Geo</th>
                <th style="width: 9vw">Pan</th>
                <th style="width: 2vw">Id</th>
                <th style="width: 2vw">Status</th>
                <th style="width: 3vw">Fee</th>
                <th style="width: 13vw">Guid</th>
                <th style="width: 5vw">Date Exit</th>
                <th style="width: 5vw">Date First</th>
                <th style="width: 4vw">Date Recent</th>
                <th style="width: 11vw">URL</th>
                <th style="width: 4vw">Action</th>
            </tr>
        </div>
    </thead>
    <tbody>
        <div class="body">
            <tr *ngFor="let data of displayData">
                <td>{{data.name}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>{{data.company}}</td>
                <td>{{data.date_entry}}</td>
                <td>{{data.org_num}}</td>
                <td>{{data.address_1}}</td>
                <td>{{data.city}}</td>
                <td>{{data.zip}}</td>
                <td>{{data.geo}}</td>
                <td>{{data.pan}}</td>
                <td>{{data.id}}</td>
                <td>{{data.status}}</td>
                <td>{{data.fee}}</td>
                <td>{{data.guid}}</td>
                <td>{{data.date_exit}}</td>
                <td>{{data.date_first}}</td>
                <td>{{data.date_recent}}</td>
                <td>{{data.url}}</td>
                <td><button (click)="buttonPost(data.id.value, data.status.value)">Post</button></td>
            </tr>
        </div>
    </tbody>
    <tfoot>
        <div class="foot">
            <tr>
                <ul>
                    <li *ngIf="currentPage===0">
                        <a> « </a>
                    </li>
                    <li (click)="previousPage()" *ngIf="currentPage!=0">
                        <a> « </a>
                    </li>
                    <li (click)="gotoPage(i)" *ngFor="let i of pageSize" [ngClass]="{'active': currentPage===i}">
                        <a [ngClass]="{'active': currentPage===i}">{{i+1}}</a>
                    </li>
                    <li *ngIf="currentPage===pageSize.length-1">
                        <a> » </a>
                    </li>
                    <li (click)="nextPage()" *ngIf="currentPage!=pageSize.length-1">
                        <a> » </a>
                    </li>
                </ul>
            </tr>
        </div>
    </tfoot>
</table>

