table {
    border-collapse: collapse;
    table-layout: auto;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
th {
    background-color: rgb(17, 77, 94);
    color: white;
    text-align: center;
}
td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

ul {
    white-space: nowrap;
    width: 100%;
    list-style-type: none;
    display: inline;
}
li{
    display:inline-block;
    border-style: solid;
    border-width: 0.5px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 8px 16px;
}
li.active {
    background-color: rgb(17, 77, 94);
}
a{
    color: rgb(17, 77, 94);
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
}
a.active {
    color: white;
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
}

.head{
    height:5vh;
    max-width: 100vw;
}
.body{
    height:80vh;
    overflow-y: scroll;
}
.foot{
    padding-top: 1.5vh;
    bottom: 0;
}